{% extends "base.html" %}
{% block content %}
<section id="blogArchive">      
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Start Blog Archive Area -->
                <div class="blogArchive-area" style="margin-top:-5%;">
                  <div class="row">
                  <!-- Start left Side bar -->
                    <div class="col-md-3 col-sm-4">
                      <aside class="sidebar">
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Latest Posts</h3>
                          <ul class="popular-tab">
                          
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="/blogs/{{latest.blogauthor}}/{{latest.category}}/{{latest.title_slug}}" class="news-img">
                                    <img style="background-color:white;" alt="img" src="/media/{{latest.preview_image}}" class="media-object class img-responsive" height="50px" width="65px">
                                  </a>
                                </div>
                                <div class="media-body">
                                 <a href="/blogs/{{latest.blogauthor}}/{{latest.category}}/{{latest.title_slug}}">{{latest.title_slug}}</a>
                                 <span class="feed-date">{{latest.date|date}}</span>
                                </div>
                              </div>
                            </li>  
                                                                  
                          </ul>
                        </div>
                       
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Tags</h3>
                          <ul class="tag-nav">
                            <li><a href="news">Some Tag</a></li>
                            
                          </ul>
                        </div>
                      </aside>
                    </div>
                    <!-- Start Blog Content -->
                    <div class="col-md-9 col-sm-8" style="margin-top:-5%;">                     
                      <div class="blog-content">
                       {% if dataf %}
                      <h1 style="margin-left: 170px;padding-bottom: 20px;">Featured</h1>
                        <!-- Start Featured-->

                        {% for y in dataf %}
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                               <li><h2>{{y.date|date:"d"}}</h2><h2>{{y.date|date:"M"}}</h2>{{y.date|date:"Y"}}</li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="/blogs/{{y.blogauthor}}/{{y.category}}/{{y.title_slug}}"> <img style="background-color:white;" alt="img" src="/media/{{y.preview_image}}" class="media-object class img-responsive" height="50px" width="65px"></a>
                              </figure>
                            </div>
                        
                            <div class="blog-content">
                              <h2>{{y.title}}</h2>
                              <p>{{y.caption}}</p>
                              <!-- Read more btn -->
                              <a class="wpcf7-submit button--itzel" href="{{category}}/{{q}}">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>   
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <h1 style="margin-left: 170px;padding-bottom: 20px;">More Posts</h1>
                        {% for y in posts %}
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                               <li><h2>{{y.date|date:"d"}}</h2><h2>{{y.date|date:"M"}}</h2>{{y.date|date:"Y"}}</li>
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="/blogs/{{y.blogauthor}}/{{y.category}}/{{y.title_slug}}"> <img style="background-color:white;" alt="img" src="/media/{{y.preview_image}}" class="media-object class img-responsive" height="50px" width="65px"></a>
                              </figure>
                            </div>
                        
                            <div class="blog-content">
                              <h2>{{y.title}}</h2>
                              <p>{{y.caption}}</p>
                              <!-- Read more btn -->
                              <a class="wpcf7-submit button--itzel" href="{{category}}/{{q}}">
                                <i class="button__icon fa fa-link"></i>
                                <span>Read More</span>
                              </a>   
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                              <!-- Read more btn -->
                                
                            </div>
                          </div>
                        </div>
                        <!-- Start blog pagination  -->
                        <div class="blog-pagination">
                            <ul class="pagination">                                
                                {% if posts.has_previous %}
                                {% if posts.number == posts.paginator.num_pages %}
                              <li>
                                <a href="?page={{ posts.previous_page_number }}" aria-label="Next">
                                  <span class="fa fa-angle-left"></span>
                                </a>
                              </li>
                              {% else %}
                                <li>
                                <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                  <span>{{ posts.previous_page_number }}</span>
                                </a>
                              </li>
                                {% endif %}
                                {% endif %}
                                  <li>
                                <a href="?page={{ posts.number }}" aria-label="Current">
                                  <span>{{ posts.number }}</span>
                                </a>
                              </li>
                              {% if posts.has_next %}                                  
                              {% if posts.number == 1 %}
                                <li>
                                <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                                  <span class="fa fa-angle-right"></span>
                                </a>
                              </li>
                              {% else %}
                              <li>
                                <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                                  <span>{{ posts.next_page_number }}</span>
                                </a>
                              </li>
                              {% endif %}
                              {% endif %}                                                  
                            </ul>
                             <span class="current">
                                  <p>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
                             </span>
                      </div>

                       
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 {% endblock %}