{% extends "base.html" %}

{% block content %}
<div class="section-heading">
                <h2 style="text-transform: capitalize;">{{data.title}}</h2>
                <h3>{{data.caption}}</h3>
                <p>{{data.date}}</p>
                <div class="line"></div>
              </div>
              <div class="container">              
              {{data.content|safe}}
 </div>
<br>
<br>
<br>
<hr>
 
 <div class="container">
    <div>
        <div id="disqus_thread"></div>
<script>
       
    var disqus_config = function () {
        this.page.url = PAGE_URL;
        this.page.identifier = PAGE_IDENTIFIER; 
    };
    
    (function() {
        var d = document, s = d.createElement('script');
        
        s.src = '//{{disqus_shortname}}.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//{{disqus_shortname}}.disqus.com/count.js" async></script>
      </div>
  </div>
 
{% endblock %}